.columns{
    display: flex;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

.col{
    flex-direction: row;
    width: 34%;
    text-align: center;
}
.todoCol{
    background-color: black;
    color: white;
}
.progressCol{
    background-color: deeppink;
}
.doneCol{
    background-color: greenyellow;
}
.designCard{
    background-color: blue;
}